:host ::ng-deep .p-dropdown {
    width: 100%;
    height:2.5rem;
    outline: none;
    border: 1px solid #000;
    margin-top:10px;
    margin-bottom:10px;

  }
  :host ::ng-deep .p-dropdown:not(.p-disabled).p-focus{
box-shadow: none;
border: 1px solid #000;


  }
  

 

:host ::ng-deep .p-dropdown:not(.p-disabled):hover {
    border-color: #000;
  }

.card{
    width: fit-content;
}
:host ::ng-deep .p-button {
    margin-left:8rem !important;
    margin-top:2rem;
}

.header{
  display: none;
}